<p style="margin: 0 0 16px;">Hi there,</p>

<p style="margin: 0 0 16px;">We received a request to reset your password. Click the button below to choose a new one:</p>

<table role="presentation" cellpadding="0" cellspacing="0" style="margin: 24px 0;">
  <tr>
    <td style="background-color: #33b8ed; border-radius: 6px;">
      <%= link_to "Reset Password", edit_password_url(@identity.password_reset_token), style: "display: inline-block; padding: 14px 32px; color: #ffffff; font-size: 16px; font-weight: 600; text-decoration: none;" %>
    </td>
  </tr>
</table>

<p style="margin: 0; color: #888888; font-size: 14px;">This link will expire in 15 minutes. If you didn't request a password reset, you can safely ignore this email.</p>
